

<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>History Program</h2>
  <p>Record your blood sugar levels.</p>
</div><!-- End Section Title -->

<div class="container" data-aos="fade-up" data-aos-delay="100">
  <h4>Table</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrap">
        <table class="table table-responsive-xl">
          <thead>
          <tr>
            <th >#</th>
            <th >Name</th>
            <th >Weight</th>
            <th >Height</th>
            <th >Email</th>
            <th >Actions</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let diabetic of diabetics">
            <td>{{ diabetic.id }}</td>
            <td>{{ diabetic.name }}</td>
            <td>{{ diabetic.weight }}</td>
            <td>{{ diabetic.height }}</td>
            <td><a href="mailto:{{ diabetic.email }}">{{ diabetic.email }}</a></td>
            <td>
              <button mat-fab aria-label="Example icon button with a delete icon" (click)="deleteDiabetic(diabetic.id)">
                <mat-icon class="mat-icon-rtl-mirror">delete</mat-icon>
              </button>
              <button mat-fab aria-label="Example icon button with a delete icon" [routerLink]="['/update-diabetic', diabetic.id]">
                <mat-icon class="mat-icon-rtl-mirror">update</mat-icon>
              </button>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
