
<div class="container d-flex align-items-center" data-aos="fade-up" data-aos-delay="100">
  <div class="chartsBx">
    <h4>Graphique</h4>

    <div style="display: flex; justify-content: space-evenly;">
      <div class="chart-controls" style="margin-right: 30px; margin-top: 40px">
        <div class="color-indicators" style="width: 350px">
          <h5>Color-indicators</h5>
          <div class="color-indicator">
            <div class="color-box" style="background-color: rgba(255, 99, 132);"></div>
            <span>Severe Hypoglycemia (&lt; 54)<br></span>
          </div>
          <div class="color-indicator">
            <div class="color-box" style="background-color: rgba(255, 159, 64);"></div>
            <span>Moderate Hypoglycemia (54 - 70)<br></span>
          </div>
          <div class="color-indicator">
            <div class="color-box" style="background-color: rgba(54, 162, 235);"></div>
            <span>Low Normal (70 - 90)<br></span>
          </div>
          <div class="color-indicator">
            <div class="color-box" style="background-color: rgba(75, 192, 192);"></div>
            <span>Normal (90 - 110)<br></span>
          </div>
          <div class="color-indicator">
            <div class="color-box" style="background-color: rgba(153, 102, 255);"></div>
            <span>High Normal (110 - 140)<br></span>
          </div>
          <div class="color-indicator">
            <div class="color-box" style="background-color: rgba(255, 206, 86);"></div>
            <span>Moderate Hyperglycemia (140 - 180)<br></span>
          </div>
          <div class="color-indicator">
            <div class="color-box" style="background-color: rgba(255, 99, 132);"></div>
            <span>Severe Hyperglycemia (&gt; 180)<br></span>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

