<!-- About Section -->
<section id="about" class="about section">

  <div class="container">

    <div class="row gy-4 gx-5">

      <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
        <img th:src="@{/assets/img/about.jpg}" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
      </div>

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <h3>About Us</h3>
        <p>
          Welcome to Medilab, your trusted partner in managing and monitoring diabetes. Our mission is to provide you with the tools and support you need to maintain a healthy and balanced lifestyle.
        </p>
        <ul>
          <li>
            <i class="fa-solid fa-vial-circle-check"></i>
            <div>
              <h5>Comprehensive Glycemia Tracking</h5>
              <p>Track your blood sugar levels with ease and accuracy. Our system helps you understand your readings and trends over time.</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-pump-medical"></i>
            <div>
              <h5>Personalized Diet and Nutrition Plans</h5>
              <p>Receive customized meal plans and nutritional advice tailored to your specific needs, helping you manage your diabetes effectively.</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-heart-circle-xmark"></i>
            <div>
              <h5>Exercise and Activity Monitoring</h5>
              <p>Engage in suitable exercise routines and track your physical activity to support your overall health and diabetes management.</p>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>

</section><!-- /About Section -->
